*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 16px/1.3 "Poppins", sans-serif;
  /* background: grey; */
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  outline: 0;
  border: 0;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  text-transform: uppercase;
  background: #feba12;
  color: #000000;
  padding: 13px 29px;
  line-height: 14px;
  transition: 0.3s;
}

.btn:hover {
  background: #feda12;
  transition: 0.3s;
}

/*----------Стили для header----------*/

header {
  position: relative;
  background-image: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%), url(../img/avada-taxi-homepage-hero.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  padding: 0 15px;
}

.header-bar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 1;
  transition: 0.5s;
}

.bar-fixed {
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  animation: fixedMenu 1s forwards;
  transition: 0.5s;
}

@keyframes fixedMenu {
  0% {
    opacity: 0;
  }

  /* 50% {
   height: 80px;
  } */

  100% {
    opacity: 70px;
  }
}

.header-bar__container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-bar__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  max-height: 63px;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: inline-block;
  transition: 0.3s;
}

.main-nav__link {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  font-style: normal;
  color: #cfcfcf;
  padding: 35px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.main-nav__link_active,
.main-nav__link:hover {
  color: #feba12;
}

.main-nav__link_btn {
  font-family: Poppins;
  line-height: 14px;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all .2s;
  background: #feba12;
  color: #000000;
  padding: 9px 20px;
  transition: 0.3s;
}

.main-nav__link_btn:hover {
  background: #feda12;
  transition: 0.3s;
}

.header-info {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  top: 35%;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 23px 0px;
  margin-bottom: 20px;
  /* width: 1170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.premium-slogan {
  text-align: center;
  margin-bottom: 120px;
}

.premium-slogan__title {
  margin: 0;
  font-family: "Poppins";
  font-size: 65px;
  line-height: 65px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 25px;
}

.premium-slogan__title span {
  color: #feba12;
}

.premium-slogan__subtitle {
  margin: 0;
  font-family: "Poppins";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.online-booking {}

.online-booking__container {
  display: flex;
  flex-wrap: wrap;
}

.online-save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  background-image: url(../img/save.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px;
  border-radius: 10px 0 0 10px;
}

.online-save__book {
  display: block;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.online-save__save {
  display: block;
  font-family: "Poppins";
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}

.online-save__per {
  display: block;
  font-family: "Poppins";
  font-size: 100px;
  line-height: 100px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
}

.online-save__on {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.online-form {
  width: 70%;
  background: #fff;
  color: #747474;
  border-radius: 0 10px 10px 0;
  padding: 60px 40px 0 40px;
}

.online-form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.online-form__box {
  width: 48%;
}

.form-item {}

.online-form__label {
  display: block;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
  margin-bottom: 8px;
}

.online-form__input {
  width: 100%;
  height: 60px;
  padding: 0 1em;
  outline: 0;
  padding: 0 15px 0 15px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  margin-bottom: 30px;
}

.form-item__info {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
  margin-bottom: 30px;
}

.form-btn {
  margin-top: 15px;
}

/*----------Стили для секции price----------*/

.price {
  padding-top: 11%;
}

.price__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-item {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(222 225 228);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 23px 0px;
  padding: 40px 40px 20px;
}

.fa-taxi,
.fa-bus,
.fa-subway {
  font-size: 130px;
  color: #feba12;
  margin-top: 20px;
  margin-bottom: 30px;
}

.price__title {
  display: block;
  font-family: "Poppins";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin-bottom: 5px;
}

.price__passengers {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  color: #bcbcbc;
  margin-bottom: 20px;
}

.price__info {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
  margin-bottom: 30px;
}

.price__ride {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #333;
  margin-bottom: 20px;
}

.price__km {
  font-family: "Roboto";
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  font-style: normal;
  color: #feba12;
}

.price__km span {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #feba12;
}

/*----------Стили для секции stats----------*/

.stats {
  background-image: url(../img/stats-background.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 30px;
}

.stats__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats-box {
  width: 30%;
  text-align: center;
  padding: 60px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.stats-box__quant {
  display: block;
  font-family: "Poppins";
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.stats-box__info {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

/*----------Стили для секции app----------*/

.app {
  background-image: url(../img/app-background.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 30px;
}

.app__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app-box {
  width: 50%;
}

.app-box_info {
  width: 48%;
  padding-right: 60px;
}

.app-box__title {
  font-family: "Poppins";
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
  font-style: normal;
  color: #333;
}

.app-box__desc {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin-bottom: 50px;
}

.app-action {
  display: flex;
  flex-wrap: wrap;
}

.app-action__btn {
  max-width: 46%;
  margin-right: 20px;
}


/*----------Кнопка Наверх----------*/

#toTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  background: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 26px;
  line-height: 10px;
  text-align: center;
  color: #1B202D;
  border: 1px solid #1B202D;
  border-radius: 5px;
  padding: 5px;
  z-index: 1000;
}

/*Кнопка для адаптивного меню*/

.menuToggle {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  background: red;
  z-index: 1000;
}

/*----------Адаптив----------*/


@media screen and (min-width: 993px) {

  /* .header-menu {
    display: flex !important;
  } */
}


@media only screen and (max-width: 992px) {



  .menuToggle {
    display: block;
  }

  .main-nav {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    background-color: rgba(2%, 5%, 14%, 1);
    padding-bottom: 20px;
  }

  .main-nav__item {
    display: block;
    text-align: center;
  }
}