*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px/1.3 "Poppins", sans-serif;
  /* background: grey; */
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  outline: 0;
  border: 0;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  text-transform: uppercase;
  background: #feba12;
  color: #000000;
  padding: 13px 29px;
  line-height: 14px;
  transition: 0.3s;
}

.btn:hover {
  background: #feda12;
  transition: 0.3s;
}

/*----------Стили для header----------*/

header {
  position: relative;
  background-image: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%), url(../img/avada-taxi-homepage-hero.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  padding: 10px;
}

.header-bar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 10px;
  z-index: 1;
  transition: 0.5s;
}

.bar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  animation: fixedMenu 1s forwards;
  transition: 0.5s;
}

@keyframes fixedMenu {
  0% {
    opacity: 0;
  }

  /* 50% {
   height: 80px;
  } */

  100% {
    opacity: 70px;
  }
}

.header-bar__container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-bar__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  max-height: 63px;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: inline-block;
  transition: 0.3s;
}

.main-nav__link {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  color: #cfcfcf;
  padding: 35px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.main-nav__link_active,
.main-nav__link:hover {
  color: #feba12;
}

.main-nav__link_btn {
  font-family: Poppins;
  line-height: 14px;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all .2s;
  background: #feba12;
  color: #000000;
  padding: 9px 20px;
  transition: 0.3s;
}

.main-nav__link_btn:hover {
  background: #feda12;
  transition: 0.3s;
}

.header-info {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  top: 35%;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 23px 0px;
  margin-bottom: 20px;
  /* width: 1170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.premium-slogan {
  text-align: center;
  margin-bottom: 120px;
}

.premium-slogan__title {
  margin: 0;
  font-family: "Poppins";
  font-size: 65px;
  line-height: 65px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 25px;
}

.premium-slogan__title span {
  color: #feba12;
}

.premium-slogan__subtitle {
  margin: 0;
  font-family: "Poppins";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.online-booking__container {
  display: flex;
  flex-wrap: wrap;
}

.online-save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  background-image: url(../img/save.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px;
  border-radius: 10px 0 0 10px;
}

.online-save__book {
  display: block;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.online-save__save {
  display: block;
  font-family: "Poppins";
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}

.online-save__per {
  display: block;
  font-family: "Poppins";
  font-size: 100px;
  line-height: 100px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
}

.online-save__on {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.online-form {
  width: 70%;
  background: #fff;
  color: #747474;
  border-radius: 0 10px 10px 0;
  padding: 60px 40px 0 40px;
}

.online-form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.online-form__box {
  width: 48%;
}

.online-form__label {
  display: block;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
  margin-bottom: 8px;
}

.online-form__input {
  width: 100%;
  height: 60px;
  padding: 0 1em;
  outline: 0;
  padding: 0 15px 0 15px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  margin-bottom: 30px;
}

.form-item__info {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
  margin-bottom: 30px;
}

.form-btn {
  margin-top: 15px;
}

/*----------Стили для секции price----------*/

.price {
  padding: 250px 10px 100px;
}

.price__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-item {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(222 225 228);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 23px 0px;
  padding: 40px 40px 20px;
}

.fa-taxi,
.fa-bus,
.fa-subway {
  font-size: 130px;
  color: #feba12;
  margin-top: 20px;
  margin-bottom: 30px;
}

.price__title {
  display: block;
  font-family: "Poppins";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin-bottom: 5px;
}

.price__passengers {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  color: #bcbcbc;
  margin-bottom: 20px;
}

.price__info {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
  margin-bottom: 30px;
}

.price__ride {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #6b6b6b;
  margin-bottom: 20px;
}

.price__km {
  font-family: "Roboto";
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  font-style: normal;
  color: #feba12;
}

.price__km span {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #feba12;
}

/*----------Стили для секции stats----------*/

.stats {
  background-image: url(../img/stats-background.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 10px;
}

.stats__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats-box {
  width: 30%;
  text-align: center;
  padding: 60px 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.stats-box__quant {
  display: block;
  font-family: "Poppins";
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.stats-box__info {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

/*----------Стили для секции app----------*/

.app {
  background-image: url(../img/app-background.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 10px 0;
}

.app__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app-box {
  width: 50%;
}

.app-box_info {
  width: 48%;
  padding-right: 60px;
}

.app-box__img {
  display: block;
}

.app-box__title {
  font-family: "Poppins";
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
  font-style: normal;
  color: #333;
}

.app-box__desc {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin-bottom: 50px;
}

.app-action {
  display: flex;
  flex-wrap: wrap;
}

.app-action__btn {
  max-width: 46%;
  margin-right: 20px;
}

/*----------Стили для секции recent----------*/

.recent {
  padding: 80px 10px;
  text-align: center;
}

.recent__title {
  margin: 0;
  font-family: "Poppins";
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
  font-style: normal;
  color: #333;
  margin-bottom: 50px;
}

.recent__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
  margin-bottom: 60px;
}

.recent-article {
  width: calc(49% - 30px);
  margin: 0 15px;
  border: 1px solid rgb(222 225 228);
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 23px 0px;
  border-radius: 8px;
}

.article__img {
  display: block;
  border-radius: 8px 8px 0 0;
}

.recent-article__desc {
  padding: 30px 40px 20px 40px;
}

.article__title {
  display: block;
  font-family: "Poppins";
  font-size: 26px;
  line-height: 39px;
  font-weight: 500;
  font-style: normal;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
  margin-bottom: 7px;
}

.article__title:hover {
  color: #feba12;
}

.article-info {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
  margin-bottom: 30px;
}

.article-info__author {
  color: #747474;
  text-decoration: none;
  margin: 0 5px;
  transition: 0.3s;
}

.article-info__date {
  color: #747474;
}

.article-info__cat {
  color: #747474;
  text-decoration: none;
  transition: 0.3s;
}

.article-info__author:hover,
.article-info__date:hover,
.article-info__cat:hover {
  color: #feba12;
  transition: 0.3s;
}

.recent-article__text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
}

/*----------Стили для секции footer----------*/

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/footer.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7% 10px;
  ;
}

.board {
  max-width: 1700px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.board__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.online-save_footer,
.price-item_footer {
  width: 22%;
  border: none;
}

.price-item_footer .price__title {
  color: #fff;
}

.separator {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #feba12;
  margin-bottom: 120px;
}

.separator-icon {
  position: absolute;
  left: 50%;
  top: -40px;
  text-align: center;
  background-color: #000000;
  width: 80px;
  height: 80px;
  border: 1px solid #feba12;
  border-radius: 50%;
  transform: translateX(-40px);
}

.fa-taxi_separator {
  margin: 0;
  font-size: 35px;
  line-height: 80px;
}

/*----------Стили для copyright----------*/

.footer-info {
  text-align: center;
}

.social {
  position: relative;
  display: flex;
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

.facebook,
.instagram,
.twitter {
  position: relative;
  margin: 12px;
  transition: all .3s ease;
}

.facebook:hover .tooltip-box,
.twitter:hover .tooltip-box,
.instagram:hover .tooltip-box {
  visibility: visible;
  opacity: 1;
}

.fa-facebook,
.fa-twitter-square,
.fa-instagram {
  font-size: 16px;
  line-height: 16px;
  color: #bebdbd;
}

.tooltip {
  position: relative;
}

.tooltip-box {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -52px;
  left: -25px;
  /* width: 80px; */
  background: rgb(20%, 20%, 20%, 1);
  padding: 0 5px 3px;
  border-radius: 2px;
  transition: all .3s ease;
}

.tooltip-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  right: 45%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgb(20%, 20%, 20%, 1) transparent transparent transparent;
}

.tooltip-box_twitter {
  left: -12px;
}

.tooltip-box__name {
  font-size: 11px;
  color: #bebdbd;
}

.copyright {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
}

.copyright__info {
  margin: 5px;
}

.copyright__link {
  color: #fff;
  margin: 5px;
  text-decoration: none;
}


/*----------Стили для страницы pricing----------*/

/*----------Стили для секции pricing----------*/

.header-pricing {
  height: auto;
}

.pricing {
  text-align: center;
  padding: 110px 10px 40px;
}

.pricing__title {
  font-family: "Poppins";
  font-size: 65px;
  line-height: 65px;
  font-weight: 600;
  font-style: normal;
  color: #feba12;
  margin-bottom: 20px;
}

.pricing__subtitle {
  font-family: "Poppins";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

/*----------Стили для секции cost----------*/

.cost {
  text-align: center;
  padding: 85px 10px;
}

.cost__info {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.cost__title {
  font-family: "Poppins";
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
  font-style: normal;
  color: #333;
  margin: 30px 0 30px;
}

.cost__desc {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
}


/*----------Стили для секции happy----------*/

.happy {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.18) 0%, rgba(255, 255, 255, 0) 100%), url(../img/happy-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px 10px;
  border-top: 8px solid #feba12;
}

.happy-info {
  font-family: "Poppins";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
}

.happy-number {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 20%) 0px 10px 23px 0px;
}

.happy-number__passengeer {
  font-family: "Poppins";
  font-size: 100px;
  line-height: 150px;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 0, 0);
}

/*----------Стили для секции about----------*/

.about {
  text-align: center;
  padding: 85px 10px 50px;
}

.about__title {
  font-family: "Poppins";
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
  font-style: normal;
  color: #333;
  margin: 30px 0 50px;
}

.about__pic {
  box-shadow: rgb(0 0 0 / 20%) 0px 10px 23px 0px;
  margin-bottom: 70px;
}

.about__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-box {
  width: 45%;
  padding: 0 40px 60px;
  margin-bottom: 20px;
}

.about-box__icon {
  font-size: 60px;
  color: #feba12;
}

.about-box__title {
  font-family: "Poppins";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.about-box__desc {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #747474;
}


/*----------Стили для страницы app----------*/

/*----------Стили для секции get----------*/

.header-get {
  height: auto;
  background-image: linear-gradient(13deg, rgba(254, 186, 18, 0.78) 19%, rgba(254, 186, 18, 0) 86%), url(../img/avada-taxi-homepage-hero.webp);
  padding-bottom: 0;
}

.get {
  padding: 110px 10px 0;
}

.get__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.get-box {
  width: 50%;
}

.get-box-pic {}

.get-box-info {
  padding-top: 80px;
}

.get-box__pic {
  display: block;
}

.get-box__title {
  margin: 0;
  font-family: "Poppins";
  font-size: 65px;
  line-height: 65px;
  font-weight: 600;
  font-style: normal;
  color: #feba12;
  margin-bottom: 20px;
}

.get-box__subtitle {
  margin: 0;
  font-family: "Poppins";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 60px;
}

.get-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.get-list__item {
  position: relative;
  font-family: "Roboto";
  font-size: 22px;
  line-height: 37px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  padding: 5px 0 5px 40px;
}

.get-list__item::before {
  font-family: 'FontAwesome';
  content: "\f05d ";
  position: absolute;
  top: 6px;
  left: 0;
  color: #feba12;
}

.app-box_get {
  width: 100%;
}

.get-box__desc {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 30px;
}

/*----------Стили для секции feature----------*/

.feature {
  text-align: center;
  padding: 90px 10px;
}

.feature__title {
  margin: 0;
  font-family: "Poppins";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin-bottom: 20px;
}

.feature__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-box {
  width: 22%;
}

/*----------Стили для секции what----------*/

.what {
  background-image: url(../img/what-bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px 10px;
}

.what__title {
  margin: 0;
  font-family: "Poppins";
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 50px;
}

.what__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
  margin-bottom: 40px;
}

.what-box {
  width: calc(50% - 30px);
  margin: 0 15px;
}

.what-say {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.what-say-img {
  width: 15%;
}

.what-say__img {
  width: 90px;
  height: 90px;
}

.what-info {
  width: 85%;
}

.what-info__testimonial {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.what-info__author {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.what-info__geo {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #feba12;
}


/*----------Кнопка Наверх----------*/

#toTop {
  width: 48px;
  height: 35px;
  position: fixed;
  bottom: 0;
  right: 75px;
  cursor: pointer;
  display: none;
  background: #333;
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px 4px 0 0;
  z-index: 1000;
  transition: 0.3s;
}

#toTop:hover {
  background: #feba12;
}

/*Кнопка для адаптивного меню*/

.menuToggle {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
}

/*----------Адаптив----------*/


@media only screen and (max-width: 1400px) {

  header {
    height: auto;
  }

  .header-info {
    padding-top: 12%;
  }

  .price {
    padding-top: 100px;
  }

}

@media only screen and (max-width: 1200px) {

  .app-action__btn {
    max-width: 44%;
  }

}

@media only screen and (max-width: 1024px) {

  .header-info {
    top: 25%;
  }

  .price {
    padding-top: 100px;
  }

}

@media only screen and (max-width: 992px) {

  .menuToggle {
    display: block;
  }

  .main-nav {
    display: none;
    position: absolute;
    top: 88px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 20px;
  }

  .main-nav__item {
    display: block;
    text-align: center;
  }

  .main-nav__link {
    display: block;
    font-family: "Poppins";
    font-size: 12px;
    line-height: 35px;
    font-weight: 600;
    font-style: normal;
    color: rgb(255, 255, 255);
    padding: 2px;
  }

  .main-nav__link_active,
  .main-nav__link:hover {
    background: #feba12;
    color: #000000;
  }

  .online-save_footer,
  .price-item_footer {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {

  header {
    height: auto;
  }

  .header-info {
    padding-top: 120px;
  }

  .premium-slogan__title {
    font-size: 48px;
    margin-bottom: 0;
  }

  .premium-slogan__subtitle {
    font-size: 20px;
    line-height: normal;
  }

  .online-save {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .online-form {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .price-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .app-box {
    width: 100%;
    padding: 0;
  }

  .app-action {
    justify-content: space-around;
  }

  .app-box_info {
    margin-bottom: 20px;
  }

  .about-box {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {

  .online-form {
    padding: 20px;
  }

  .online-form__box {
    width: 100%;
    margin-bottom: 20px;
  }

  .stats-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .recent-article {
    width: 100%;
    margin-bottom: 20px;
  }

  .recent-article:last-child {
    margin-bottom: 0;
  }

}